<div class="rounded-md shadow-md p-4 border">
    <div class="flex items-center">
        <div class="w-3/4">
             <span class="text-xl">{{projectItem()?.nombreProyecto}}</span>
         </div>
        <div class="grow"></div>
        <div>
            <mat-icon class="text-red-700 cursor-pointer mx-2" (click)="deleteProject(projectItem()!.id)">
                delete
            </mat-icon>            
            <mat-icon class="text-gray-700 cursor-pointer" (click)="openUpdateProjectModal(projectItem()!.id)">
                edit
            </mat-icon>
        </div>
    </div>
    <hr>
    <div class="mt-2 grid gap-2">
        <p><b>Cliente: </b>{{projectItem()?.nombreCliente}}</p>
        <p><b>Fecha Inicio: </b>{{projectItem()?.fechaInicioProyecto}}</p>
        <p><b>Fecha Fin: </b>{{projectItem()?.fechaFinProyecto}}</p>
        <p>
            <b>Estado: </b>
            <span class="px-2 py-0.5 rounded-xl" [ngClass]="{  'text-lime-600': projectItem()?.estado == 'Activo',
                                'text-red-600': projectItem()?.estado == 'Vencido',
                                'bg-lime-100': projectItem()?.estado == 'Activo',
                                'bg-red-100': projectItem()?.estado == 'Vencido'}"> 
                {{projectItem()?.estado}}
            </span>
        </p>
    </div>
</div>


