<div class="rounded-md shadow-md p-4">
    <div class="flex items-center">
        <div class="w-3/4">
             <span class="text-xl">{{projectItem()?.nombreProyecto}}</span>
         </div>
        <div class="grow"></div>
        <div>
            <mat-icon class="text-red-700 cursor-pointer mx-2">
                delete
            </mat-icon>            
            <mat-icon class="text-gray-700 cursor-pointer">
                settings
            </mat-icon>
        </div>
    </div>
    <hr>
    <div class="mt-2 grid gap-2">
        <p><b>Cliente: </b>{{projectItem()?.nombreCliente}}</p>
        <p><b>Fecha Inicio: </b>{{projectItem()?.fechaInicioProyecto}}</p>
        <p><b>Fecha Fin: </b>{{projectItem()?.fechaFinProyecto}}</p>
        <p>
            <b>Estado: </b>
            <span class="px-2 py-0.5 rounded-xl" [ngClass]="{  'text-neutral': projectItem()?.estado == 'Pendiente',
                                'text-secondary': projectItem()?.estado == 'En Proceso',
                                'text-cuaternary': projectItem()?.estado == 'Finalizado',
                                'bg-gray-300': projectItem()?.estado == 'Pendiente',
                                'bg-yellow-200': projectItem()?.estado == 'En Proceso',
                                'bg-lime-300': projectItem()?.estado == 'Finalizado'}"> 
                {{projectItem()?.estado}}
            </span>
        </p>
    </div>
</div>


