<div class="flex items-center mb-2">
    <h1 class="text-3xl">Proyectos</h1>
    <button class="ml-2 rounded-lg px-2 py-2 flex items-center justify-center bg-primary text-white shadow-xl">
        <mat-icon>
            add
        </mat-icon>
        Agregar 
    </button>

</div>
<hr/>
<div class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 poppins-light">
    @for(project of projectResponse.proyectos; track project.id){
        <div>
            <project-item [projectItem]="project"></project-item>
        </div>
    }
</div>