<div class="w-full flex flex-wrap text-md poppins-light">
    <div class="grow"></div>
    <div class="flex items-center justify-center gap-2">
        <div>Página {{paginaActual}} de {{totalPaginas}}</div>
        <div class="rounded-full bg-gray-400 hover:bg-cyan-500 size-7 flex items-center justify-center cursor-pointer" (click)="firstPage()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z"/></svg>
        </div>
         <div class="rounded-full bg-gray-400 hover:bg-cyan-500 size-7 flex items-center justify-center cursor-pointer" (click)="lastPage()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/></svg>
        </div>
         <div class="rounded-full bg-gray-400 hover:bg-cyan-500 size-7 flex items-center justify-center cursor-pointer" (click)="nextPage()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
        </div>
         <div class="rounded-full bg-gray-400 hover:bg-cyan-500 size-7 flex items-center justify-center cursor-pointer" (click)="finalPage()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M383-480 200-664l56-56 240 240-240 240-56-56 183-184Zm264 0L464-664l56-56 240 240-240 240-56-56 183-184Z"/></svg>
        </div>
    </div>
</div>