
<div class="rounded-lg px-2 py-4 shadow-md mb-2 grid grid-cols-2 gap-2">
    <div class="col-span-2 flex flex-wrap items-center">
        <input type="radio" name="radio-2" [value]="taskItem()?.id" [(ngModel)]="state" class="size-5 mr-2 radio checked:bg-violet-300">
        <button class="rounded-full bg-black text-white size-5 flex items-center mr-2" (click)="openModalChronometer(taskItem()!.id)">
            <mat-icon class="text-base">
                play_arrow
            </mat-icon>
        </button>
        <span class="mr-2 w-3/5">{{taskItem()?.descripcion}}</span>
        <div class="grow"></div>
        <div class="">
            <mat-icon class="text-red-700 cursor-pointer mx-2" (click)="deleteTask(taskItem()!.id)">
                delete
            </mat-icon>            
            <mat-icon class="text-gray-700 cursor-pointer" (click)="openModalConfiguration(taskItem()!.id)">
                settings
            </mat-icon>
        </div>
    </div>
    <div class="col-span-2 flex gap-1 items-center ml-8 text-sm">
        <div class="flex items-center">
            <span   class="mr-2 rounded-full size-2" 
                    [ngClass]="{'bg-neutral': taskItem()?.estado == 'Pendiente',
                                'bg-secondary': taskItem()?.estado == 'En Proceso',
                                'bg-cuaternary': taskItem()?.estado == 'Finalizado'}"> 
            </span>
            <span [ngClass]="{  'text-neutral': taskItem()?.estado == 'Pendiente',
                                'text-secondary': taskItem()?.estado == 'En Proceso',
                                'text-cuaternary': taskItem()?.estado == 'Finalizado'}"> 
                {{taskItem()?.estado}}
            </span>
        </div>
        <div class="xs:mt-2 px-2 py-1 rounded-sm text-neutral flex items-center">
            <mat-icon class="text-sm">
                sell
            </mat-icon>
            {{taskItem()?.nombreProyecto}}
        </div>
    
        <div class="xs:mt-2 px-2 py-1 rounded-sm flex items-center text-gray-400">
            <mat-icon class=" mr-2">
                today
            </mat-icon>
            {{taskItem()?.programadoPara | date:'d LLLL'}}
        </div>
    </div>
</div>


