<div class="rounded-lg px-2 py-4 shadow-md mb-2 flex items-center flex-wrap">
    <input type="radio" name="radio-2" [value]="taskItem()?.id" [(ngModel)]="state" class="size-5 mr-2 radio checked:bg-violet-300">
    <button class="rounded-full bg-black text-white size-5 flex items-center mr-2">
        <mat-icon class="text-base">
            play_arrow
        </mat-icon>
    </button>
    <span class="mr-2">{{taskItem()?.descripcion}}</span>
    <span   class="mr-2 xs:mt-2 px-2 py-1 rounded-xl text-white text-xs" 
            [ngClass]="{'bg-gray-500': taskItem()?.estado == 'Pendiente',
                        'bg-yellow-500': taskItem()?.estado == 'En Proceso',
                        'bg-lime-500': taskItem()?.estado == 'Finalizado'}">
        {{taskItem()?.estado}}
    </span>
    <div>
        <mat-icon class="text-violet-700 mx-2 cursor-pointer">
            edit
        </mat-icon>
        <mat-icon class="text-red-700 mx-2 cursor-pointer">
            delete
        </mat-icon>
    </div>
    <div class="grow"></div>
    <div class="text-sm my-2 flex flex-wrap">
        <span class="mr-2 xs:mt-2 bg-cyan-500 px-2 py-1 text-white rounded-sm">{{taskItem()?.nombreProyecto}}</span>
        <span class="mr-2 xs:mt-2 bg-gray-200 px-2 py-1 rounded-sm">F.P.: {{taskItem()?.programadoPara | date:'mediumDate'}}</span>
        <span class="mr-2 xs:mt-2 bg-red-200 px-2 py-1 rounded-sm">F.M.E.: {{taskItem()?.plazoEntrega| date:'mediumDate'}}</span>
        <span class="mr-2 xs:mt-2 bg-cyan-200 px-2 py-1 rounded-sm">T.E.: {{taskItem()?.tiempoEstimado}}</span>
    </div>
</div>

