<div class="flex items-center mb-2">
    <h1 class="text-3xl">Clientes</h1>
    <button class="ml-2 rounded-lg px-2 py-2 flex items-center justify-center bg-primary text-white shadow-xl" >
        <mat-icon>
            add
        </mat-icon>
        Agregar 
    </button>
</div>
<hr/>

<div class="mt-8 mb-2">
    <!--filtros-->
</div>
<div class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 poppins-light">
    @for(customer of customersResponse.clientes; track customer.nombre){
        <customer-item [customerItem]="customer"></customer-item>
    }
</div>
<div class="py-4">
    <shared-paginator [paginaActual]="customersResponse.paginaActual" [totalPaginas]="customersResponse.totalPaginas"></shared-paginator>
</div>