<form [formGroup]="registerForm" (submit)="registerUser()">
    <div class="mt-7 grid gap-5">
        <div>
            <label for="name" class="block">Nombre Usuario</label>
            <input type="text" placeholder="NashLia10" formControlName="nombre" class="w-full border p-2 text-base rounded-md"/>
        </div>
        <div>
            <label for="email" class="block">Correo electrónico</label>
            <input type="text" placeholder="usuario@email.com" formControlName="email" class="w-full border p-2 text-base rounded-md"/>
        </div>
        <div>
            <label for="password" class="block">Contraseña</label>
            <input type="password" placeholder="Password" formControlName="password" class="w-full border p-2 text-base rounded-md"/>
        </div>
        <button class="bg-primary p-2 w-full text-white text-center rounded-md mt-8 hover:bg-cyan-500" [disabled]="!registerForm.valid">Registrar</button>
    </div>
</form>