<div class="py-4 px-6">
    <div class="relative">
        <div class="absolute right-0 text-gray-500">
            <mat-icon class="cursor-pointer" (click)="closeModal()">
                close
            </mat-icon>
        </div>
    </div>
    <h1 class="text-2xl mt-4">{{title}}</h1>
    <hr/>
    <div class="py-8">
        <form action="" [formGroup]="taskForm">
            <div class="grid grid-cols-6 gap-4">
                <div class="col-span-6 md:col-span-4 lg:col-span-4 xl:col-span-4">
                        <label for="tarea" class="block mb-1">Tarea</label>
                        <input type="email" matInput formControlName="descripcion" placeholder="Escribe aquí tu tarea..." class="w-full border rounded-md px-2 py-1">
                </div>

                <div class="col-span-6 md:col-span-2 lg:col-span-2 xl:col-span-2">
                    <label for="proyecto" class="block mb-1">Proyecto</label>
                    <mat-select formControlName="proyectoId" name="proyectoId" class="border rounded-md w-full px-2 py-1 bg-white">
                        @for (proyecto of projectsList(); track proyecto.id) {
                            <mat-option [value]="proyecto.id">{{proyecto.nombreProyecto}}</mat-option>
                        }
                    </mat-select>
                </div>

                <div class="col-span-6 md:col-span-2 lg:col-span-2 xl:col-span-2">
                    <label for="tiempoEstimado" class="block mb-1">Tiempo estimado:</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                            <mat-icon>
                                clock
                            </mat-icon>
                        </div>
                        <input type="time" id="time" formControlName="tiempoEstimado" class="bg-white border leading-none border-gray-300 text-gray-900 rounded-md focus:ring-cyan-500 focus:border-cyan-500 block w-full p-2" min="00:00" max="24:00" value="00:00" required />
                    </div>
                    <span class="text-xs">horas : minutos</span>
                </div>

                <div class="col-span-6 md:col-span-2 lg:col-span-2 xl:col-span-2">
                    <label for="programadoPara" class="block mb-1">Fecha programada</label>
                    <div class="relative">
                        <input matInput [matDatepicker]="picker" formControlName="programadoPara" class="border rounded-md p-2 w-full">
                        <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-0.5 pointer-events-none">
                            <mat-datepicker-toggle matIconSuffix [for]="picker">
                            <mat-icon matDatepickerToggleIcon class="hover:text-white">calendar_month</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                    </div>
                    <span class="text-xs">mes/dia/año</span>                    
                </div>

                <div class="col-span-6 md:col-span-2 lg:col-span-2 xl:col-span-2">
                    <label for="plazoEntrega" class="block mb-1">Fecha máxima entrega</label>
                    <div class="relative">
                        <input matInput [matDatepicker]="pickerMax" formControlName="plazoEntrega" class="border rounded-md p-2 w-full">
                        <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-0.5 pointer-events-none">
                            <mat-datepicker-toggle matIconSuffix [for]="pickerMax">
                            <mat-icon matDatepickerToggleIcon class="hover:text-white">calendar_month</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #pickerMax></mat-datepicker>
                        </div>
                    </div>
                    <span class="text-xs">mes/dia/año</span>                    
                </div>

            </div>
        </form>
        <div class="mt-8 mb-10 relative">
            <div class="absolute right-0 flex items-center">
                <button type="reset" class="rounded-lg mr-2 p-2 bg-gray-400 hover:bg-red-400 text-white flex items-center" (click)="closeModal()">
                    <mat-icon class="mr-2">
                        cancel
                    </mat-icon>
                    Cancelar
                </button>
                <button type="submit" class="rounded-lg p-2 bg-slate-900 text-white flex items-center" (click)="onSubmit()">
                    <mat-icon class="mr-2">
                        save
                    </mat-icon>
                    Guardar
                </button>
    
            </div>
        </div>
    </div>

</div>
