<div class="flex items-center mb-2">
    <h1 class="text-3xl">Tareas</h1>
    <button class="ml-2 rounded-lg px-2 py-2 flex items-center justify-center bg-primary text-white shadow-xl" (click)="openDialog()">
        <mat-icon>
            add
        </mat-icon>
        Agregar 
    </button>
</div>
<hr/>
@if(isChronometerActive){
    <tasks-task-chronometer></tasks-task-chronometer>
}

<div class="mt-4">
    @for(task of taskList(); track task.id){
        <tasks-task-item [taskItem]="task"></tasks-task-item>
    }
</div>

