  <div class="example-container" [class.example-is-mobile]="isMobile()">
    <mat-toolbar class="example-toolbar toolbar-color">
      <button matIconButton (click)="snav.toggle()"><mat-icon class="text-white">menu</mat-icon></button>
       <img src="/images/focusfly.png" alt="logo" class="h-12">
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container"
                          [style.marginTop.px]="isMobile() ? 56 : 0">
      <mat-sidenav class="background-dark rounded-sm" #snav [mode]="isMobile() ? 'over' : 'side'"
                  [fixedInViewport]="isMobile()" fixedTopGap="56">
        <mat-nav-list>
            @for (menuItem of menu; track menuItem.option) {
              <a class="text-white block py-3 px-4 cursor-pointer hover:bg-violet-400 hover:text-indigo-950 flex items-center"
                  routerLink="{{menuItem.route}}" routerLinkActive="bg-violet-400 text-white">
                <mat-icon class="mr-4">
                  {{menuItem.icon}}
                </mat-icon>
                {{menuItem.option}}
              </a>
            }
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content class="py-4 px-2 md:py-8 md:px-12 lg:py-8 lg:px-12 xl:py-8 xl:px-12 h-full">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
