  <div class="example-container" [class.example-is-mobile]="isMobile()">
    <mat-toolbar class="example-toolbar bg-primary relative">
      <button matIconButton (click)="snav.toggle()"><mat-icon class="text-white">menu</mat-icon></button>
       <img src="/images/FocusFly-logo.png" alt="logo" class="h-12">
       <div class="absolute right-0 pr-4 flex items-center cursor-pointer" [matMenuTriggerFor]="userMenu">
          <div class="mr-4">
            <span class="text-white text-base block">{{userData?.nombre}}</span>
            <span class="text-white text-xs block">{{userData?.email}}</span>
          </div>
         <div class="rounded-full size-10 border border-white bg-cyan-800 grid place-items-center text-3xl text-white p-1">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
         </div>
       </div>
      </mat-toolbar>
      <mat-menu #userMenu="matMenu" class="w-44 mt-2 bg-white text-base">
        <a class="px-4 py-3 text-base cursor-pointer flex items-center">
          <mat-icon class="mr-2">
            settings
          </mat-icon>
          <span>Perfil</span>
        </a>
        <a class="px-4 py-3 text-base cursor-pointer flex items-center" (click)="logout()">
          <mat-icon class="mr-2">
            logout
          </mat-icon>
          <span>Logout</span>
        </a>
      </mat-menu>

    <mat-sidenav-container class="example-sidenav-container"
                          [style.marginTop.px]="isMobile() ? 56 : 0">
      <mat-sidenav class="bg-primary sidenav-background" #snav [mode]="isMobile() ? 'over' : 'side'"
                  [fixedInViewport]="isMobile()" fixedTopGap="56">
        <mat-nav-list>
            @for (menuItem of menu; track menuItem.option) {
              <a class="text-white py-3 px-4 cursor-pointer flex items-center itemSelected"
                  routerLink="{{menuItem.route}}" routerLinkActive="itemSelected text-white" (click)="snav.toggle()">
                <mat-icon class="mr-4">
                  {{menuItem.icon}}
                </mat-icon>
                {{menuItem.option}}
              </a>
            }
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content class="py-4 px-2 md:py-8 md:px-12 lg:py-8 lg:px-12 xl:py-8 xl:px-12 h-full">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
