<section>
    <h2 class="text-2xl font-medium py-2">Tareas</h2>
    <hr/>
    <div class="py-2 flex flex-wrap gap-2 items-center">
        <button class="bg-neutral p-2 flex items-center rounded-full text-white text-xs md:text-sm lg:text-base xl:text-base" (click)="filterList('Pendiente')">
            <div class="rounded-full size-5 md:size-7 lg:size-7 xl:size-7 bg-gray-400 grid place-items-center">
                <span>{{this.pendingTasksCount}}</span>
            </div>
            <span class="ml-2">Pendientes</span>
        </button>

        <button class="bg-secondary p-2 flex items-center rounded-full text-white text-xs md:text-sm lg:text-base xl:text-base" (click)="filterList('En Proceso')">
            <div class="rounded-full size-5 md:size-7 lg:size-7 xl:size-7 bg-orange-300 grid place-items-center">
                <span>{{this.inProgressTasksCount}}</span>
            </div>
            <span class="ml-2">En Proceso</span>
        </button>

        <button class="bg-cuaternary p-2 flex items-center rounded-full text-white text-xs md:text-sm lg:text-base xl:text-base" (click)="filterList('Finalizado')">
            <div class="rounded-full size-5 md:size-7 lg:size-7 xl:size-7 bg-lime-400 grid place-items-center">
                <span>{{this.finishedTasksCount}}</span>
            </div>
            <span class="ml-2">Finalizadas</span>
        </button>
    </div>
    <div class="py-4">
        @for(item of weekTasks; track item.id){
            <tasks-task-item [taskItem]="item" (changeInItem)="reloadPage($event)"></tasks-task-item>
        }

        @if(!weekTasks.length){
            <div class="bg-gray-200 p-10 poppins-light text-lg rounded-lg grid place-items-center">
                No existen tareas {{activeStatus | lowercase}}
            </div>
        }
    </div>
</section>