@tailwind base;
@tailwind components;
@tailwind utilities;

/* .toolbar-color{
    background: linear-gradient(to right, #0b2964, #16849c) !important;
    height: auto;
    width: 100%;
    padding: 0%;
    margin: 0%
}

.toolbar-color2{
    background: linear-gradient(to right, #020202, #7779af) !important;
    height: auto;
    width: 100%;
    padding: 0%;
    margin: 0%
} */
 /* .background-gradient-cyan{
      background: radial-gradient(#16849c, #0b2964);
  } */

   .background-gradient-cyan{
      background: radial-gradient(#38c1e0, #066d8a);
  }

   .background-gradient-cyan2{
      background: linear-gradient(to right, #72b1c8, #61639b)
  }

  /* .bg-primary{
    background-color: #1696BE !important;
  }

  .bg-secondary{
    background-color: #9216BE;
  }

  .bg-terciary{
    background-color: #BE3F16;
  }

  .bg-cuaternary{
    background-color: #42BE16;
  } */

  .bg-primary{
    background-color: #066d8a !important;
  }

  .bg-primary2{
    background-color: #08afdd;
  }

  .bg-secondary{
    background-color: #f3a91f;
  }

  .bg-terciary{
    background-color: #BE3F16;
  }

  .bg-cuaternary{
    background-color: #85ce26;
  }


  .bg-neutral{
    background-color: #929090;
  }

  .text-primary{
    color: #1696BE;
  }

  .text-secondary{
    color: #f3a91f;
  }

  .text-terciary{
    color: #BE3F16;
  }

  .text-cuaternary{
    color: #42BE16;
  }


  .text-neutral{
    color: #6E6E6E;
  }

  .itemSelected, .itemSelected:hover{
    background-color: #22B7E5;
  }

img{
    height: 5rem;
}

.example-full-width{
  width: 100% !important;
}

.colored-toast.swal2-icon-success {
  background-color: #79d345 !important;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light, input{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular, p, span, label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-bold, h1, h2, h3 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
