<!-- 
<div class="border-4 rounded-2xl border-slate-200">
    <div class="w-full bg-slate-200 py-2">
        <h2 class="text-xl font-medium ml-2">Resumen Semanal</h2>
    </div>

    <div class="grid grid-cols-2 gap-8">
        <div class="p-4 h-full grid place-items-center">
            <div class="rounded-full background-gradient-cyan grid place-items-center p-8 size-40 md:size-72 lg:size-72 xl:size-72 shadow-xl shadow-slate-200 text-white">
                <div class="text-center">
                    <p class="text-5xl md:text-7xl lg:text-7xl xl:text-7xl mb-4">8</p>
                    <p class="text-xs md:text-sm lg:text-sm xl:text-sm">Horas trabajadas esta semana</p>
                </div>
            </div>
        </div>
        <div class="px-2 py-8">
            <div class="flex items-center mb-4">
                <div class="rounded-full bg-cyan-500 size-12 flex items-center justify-center mr-2 shadow-md text-xl text-white">
                    <p>2</p>
                </div>
                <span>Proyectos Activos</span>
            </div>

            <div class="flex items-center mb-4">
                <div class="rounded-full bg-yellow-500 size-12 flex items-center justify-center mr-2 shadow-md text-xl text-white">
                    <p>1</p>
                </div>
                <span>Tarea en Proceso</span>
            </div>
    
            <div class="flex items-center mb-4">
                <div class="rounded-full bg-gray-500 size-12 flex items-center justify-center mr-2 shadow-md text-xl text-white">
                    <p>3</p>
                </div>
                <span>Tareas Pendientes</span>
            </div>
    
            <div class="flex items-center mb-4">
                <div class="rounded-full bg-lime-500 size-12 flex items-center justify-center mr-2 shadow-md text-xl text-white">
                    <p>5</p>
                </div>
                <span>Tareas Finalizadas</span>
            </div>
        </div>
    </div>
</div> -->


    <h2 class="text-2xl font-medium py-2">Resumen Semanal</h2>
    <hr/>
    <!-- <div class="w-full background-gradient-cyan rounded-t-xl p-12 text-center text-white h-1/2">
        <p class="text-5xl">8</p>
        <p class="text-sm">Horas trabajadas esta semana</p>
    </div> -->
    <!-- <div class="w-full flex items-center justify-center">
        <div class="rounded-full background-gradient-cyan grid place-items-center p-8 size-40 md:size-56 lg:size-56 xl:size-56 shadow-xl shadow-slate-200 text-white">
            <div class="text-center">
                <p class="text-5xl md:text-7xl lg:text-7xl xl:text-7xl mb-4">8</p>
                <p class="text-xs md:text-sm lg:text-sm xl:text-sm">Horas trabajadas esta semana</p>
            </div>
        </div>
    </div> -->
    <div class="stats shadow-lg text-white w-full mt-2">
        <div class="stat place-items-center background-gradient-cyan">
            <div class="stat-figure">
                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#FFFFFF"><path d="M220-400q0 63 28.5 118.5T328-189q-4-12-6-24.5t-2-24.5q0-32 12-60t35-51l113-111 113 111q23 23 35 51t12 60q0 12-2 24.5t-6 24.5q51-37 79.5-92.5T740-400q0-54-23-105.5T651-600q-21 15-44 23.5t-46 8.5q-61 0-101-41.5T420-714v-20q-46 33-83 73t-63 83.5q-26 43.5-40 89T220-400Zm260 24-71 70q-14 14-21.5 31t-7.5 37q0 41 29 69.5t71 28.5q42 0 71-28.5t29-69.5q0-20-7.5-37T551-306l-71-70Zm0-464v132q0 34 23.5 57t57.5 23q18 0 33.5-7.5T622-658l18-22q74 42 117 117t43 163q0 134-93 227T480-80q-134 0-227-93t-93-227q0-128 86-246.5T480-840Z"/></svg>
            </div>
            <div class="stat-value text-5xl open-sans-bold">8</div>
            <div class="stat-title text-white text-sm poppins-light">Horas trabajadas esta semana</div>
        </div>
        <div class="stat place-items-center text-cyan-500">
            <div class="stat-value open-sans-bold">2</div>
            <div class="stat-title text-base text-cyan-500 poppins-light">Proyectos Activos</div>
        </div>

        <div class="stat place-items-center text-gray-500">
            <div class="stat-value open-sans-bold">3</div>
            <div class="stat-title text-base text-gray-500 poppins-light">Tareas Pendientes</div>
        </div>

        <div class="stat place-items-center text-yellow-500">
            <div class="stat-value open-sans-bold">5</div>
            <div class="stat-title text-base text-yellow-500 poppins-light">Tareas en Proceso</div>
        </div>

        <div class="stat place-items-center text-lime-500">
            <div class="stat-value open-sans-bold">8</div>
            <div class="stat-title text-base text-lime-500 poppins-light">Tareas Finalizadas</div>
        </div>
    </div>
    <!-- <div class="grid grid-cols-8 gap-8">
        <div class="col-span-4 md:col-span-5 lg:col-span-5 xl:col-span-5 p-4 h-full grid place-items-center">
            <div class="rounded-full background-gradient-cyan grid place-items-center p-8 size-40 md:size-72 lg:size-72 xl:size-72 shadow-xl shadow-slate-200 text-white">
                <div class="text-center">
                    <p class="text-5xl md:text-7xl lg:text-7xl xl:text-7xl mb-4">8</p>
                    <p class="text-xs md:text-sm lg:text-sm xl:text-sm">Horas trabajadas esta semana</p>
                </div>
            </div>
        </div>

        <div class="col-span-4 md:col-span-3 lg:col-span-3 xl:col-span-3 px-2 py-8">
            <div class="flex items-center mb-4">
                <div class="rounded-full bg-cyan-500 size-12 flex items-center justify-center mr-2 shadow-md text-xl text-white">
                    <p>2</p>
                </div>
                <span>Proyectos Activos</span>
            </div>

            <div class="flex items-center mb-4">
                <div class="rounded-full bg-yellow-500 size-12 flex items-center justify-center mr-2 shadow-md text-xl text-white">
                    <p>1</p>
                </div>
                <span>Tarea en Proceso</span>
            </div>
    
            <div class="flex items-center mb-4">
                <div class="rounded-full bg-gray-500 size-12 flex items-center justify-center mr-2 shadow-md text-xl text-white">
                    <p>3</p>
                </div>
                <span>Tareas Pendientes</span>
            </div>
    
            <div class="flex items-center mb-4">
                <div class="rounded-full bg-lime-500 size-12 flex items-center justify-center mr-2 shadow-md text-xl text-white">
                    <p>5</p>
                </div>
                <span>Tareas Finalizadas</span>
            </div>
        </div> -->
    <!-- </div> -->
