
<div class="border-4 rounded-2xl border-slate-200">
    <div class="w-full bg-slate-200 py-2">
        <h2 class="text-xl font-medium ml-2">Resumen Semanal</h2>
    </div>

    <div class="grid grid-cols-2 gap-8">
        <div class="p-4 h-full grid place-items-center">
            <div class="rounded-full background-gradient-cyan grid place-items-center p-8 size-40 md:size-72 lg:size-72 xl:size-72 shadow-xl shadow-slate-200 text-white">
                <div class="text-center">
                    <p class="text-5xl md:text-7xl lg:text-7xl xl:text-7xl mb-4">8</p>
                    <p class="text-xs md:text-sm lg:text-sm xl:text-sm">Horas trabajadas esta semana</p>
                </div>
            </div>
        </div>
        <div class="px-2 py-8">
            <div class="flex items-center mb-4">
                <div class="rounded-full bg-cyan-500 size-12 flex items-center justify-center mr-2 shadow-md text-xl text-white">
                    <p>2</p>
                </div>
                <span>Proyectos Activos</span>
            </div>

            <div class="flex items-center mb-4">
                <div class="rounded-full bg-yellow-500 size-12 flex items-center justify-center mr-2 shadow-md text-xl text-white">
                    <p>1</p>
                </div>
                <span>Tarea en Proceso</span>
            </div>
    
            <div class="flex items-center mb-4">
                <div class="rounded-full bg-gray-500 size-12 flex items-center justify-center mr-2 shadow-md text-xl text-white">
                    <p>3</p>
                </div>
                <span>Tareas Pendientes</span>
            </div>
    
            <div class="flex items-center mb-4">
                <div class="rounded-full bg-lime-500 size-12 flex items-center justify-center mr-2 shadow-md text-xl text-white">
                    <p>5</p>
                </div>
                <span>Tareas Finalizadas</span>
            </div>
        </div>
    </div>
</div>